* {
    font-family: Helvetica;
}


.header {
    background-image: url(kepek/pizzabannerLG.jpg);
    height: 100%;
    padding: 200px;
    background-position: 100%;
    width: 50rm;
    margin: auto;
    align-items: center;
    color: white;
}

h1, h2, h3 {
    color: white;
}

.navbar {
    float: right;
    padding: 20px;
}

.szovegek {
    padding: 10px;
}

p {
    color: #8c8c8c;
}

.felsotartalom {
    height: 300px;
    background-color: #222222;
}

.ftbalresz {
    float: left;
    text-align: right;
}

.ftjobbresz {
    text-align: center;
}



