* {
    font-family: Helvetica;
}

p {
    font-size: 20px;
}

body {
    margin: 0;
}



.header {
    background-image: url(kepek/pizzabannerLG.jpg);
    height: 100%;
    padding: 200px;
    background-position: 100%;
    margin: auto;
    align-items: center;
    color: white;
    position: relative;
}

h1, h2, h3 {
    color: white;
}

.navbar {
    float: right;
    padding: 1px;
    margin-top: -25%;
    margin-right: -25%;
}

.navszoveg {
    float: left;
    padding: 1px;
    margin-top: -25%;
    margin-left: -25%;
}

.szovegek {
    padding: 10px;
}

p {
    color: #8c8c8c;
}

.felsotartalom {
    padding: 5px;
    height: 300px;
    background-color: #222222;
}

.ftbalresz {
    float: left;
    text-align: right;
    margin-left: 15%;
}

.ftjobbresz {
    margin-top: auto;
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
    letter-spacing: 1px;
}

.menu {
    background-color: black;
    height: 350px;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#menuszoveg {
    margin-right: 15%;
    margin-left: 15%;
}

.buttonmenu {
    align-items: center;
    background-color: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 30px;
    min-width: 140px;
    padding: 0 17px;
    text-align: center;
    transition: all .4s;
    user-select: none;
    touch-action: manipulation;
    margin: 10px;
  }
  
  
  .buttonmenu:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
  }
  

.specialitasok {
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 1000px;
    background-color: #222222;
    padding-left: 10%;
    padding-right: 10%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}

.gallery__item--5 {
  
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}

.gallery__item--3 {
  
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
}


.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}


.footer {
    background-color: black;
    height: 1100px;
    padding: 5px;
}

.footerbal {
    float: left;
    text-align: right;
    margin-left: 1%;
}

.footerkozep {
    text-align: left;
    clear: both;    
    width: 25%;
    height: 5%;
    margin-left: 40%;
    max-width: 30%;
    top: 0;
}

.footerjobb {
    float: right;
    text-align: left;
    margin-right: 1%;
    width: 25%;
    top: 50%;
}

.footeralso {
    align-items: center;
    text-align: center;
    clear: both;
    margin-top: 70%;
    margin-right: 5%;
    margin-left: 5%;
}

.gallery__item--1 span {
    display: flex;
	flex-flow: column wrap;
    padding-right: 3px; 
    padding-top: 3px;
}


@media only screen and (max-width: 991px) {
    .header {
        padding: 100px;
    }

    .navbar {
        margin-top: -10%;
        margin-right: -10%;
    }

    .navszoveg {
        margin-top: -10%;
        margin-left: -10%;
    }

    .ftbalresz {
        margin-left: 10%;

    }

    .ftjobbresz {
        margin-left: 35%;
        margin-right: 5%;
    }

    .menu {
        height: 500px;
    }

    .specialitasok {
        height: 2000px;
    }

    .footer {
        height: 1500px;
    }

    .footerbal {
        margin-left: 5%;
    }

    .footerkozep {
        margin-left: 5%;
    }

    .footerjobb {
        margin-right: 10%;
    }

    .footeralso {
        margin-top: 100%;
    }

    .gallery__item--1 span {
        padding-right: 3px; 
        padding-top: 3px;
    }

    p {
        font-size: 12px;
    }
    
    h2 {
        font-size: 18px;
        padding: 5px;
    }



    h3 {
        font-size: 15px;
        padding: 5px;
        text-align: right;
    }
    
}

@media only screen and (max-width: 722px) {
    .navbar {
        display: none;
    }
    .footerbal {
        margin-left: 0%;
        font-size: 10px;
    }
    .footerkozep {
        margin-left: 30%;
        margin-right: 20%;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        padding: 50px;
    }

    .navbar {
        display: none;
    }

    .navszoveg {
        display: none;
    }

    .ftbalresz {
        margin-left: 5%;
    }

    .ftjobbresz {
        margin-left: 20%;
        margin-right: 5%;
    }

    .menu {
        height: 600px;
    }

    .specialitasok {
        height: 2500px;
    }

    .footer {
        height: 2000px;
    }

    .footerbal {
        margin-left: 2%;
    }

    .footerkozep {
        margin-left: 10%;
    }

    .footerjobb {
        margin-right: 5%;
    }

    .footeralso {
        margin-top: 150%;
    }

    .gallery__item--1 span {
        padding-right: 2px; 
        padding-top: 2px;
    }

    p {
        font-size: 10px;
    }
    
    h2 {
        font-size: 16px;
        padding: 3px;
    }

    h3 {
        font-size: 12px;
        padding: 3px;
        text-align: right;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(182, 32, 228) rgb(90, 90, 95) ;
    animation: colorChange 5s infinite;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(182, 32, 228);

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(90, 90, 95);
    border-radius: 20px;
    border: 3px solid rgb(182, 32, 228);
  }


@keyframes colorChange {
    0% {
        scrollbar-width: thin;
        scrollbar-color: rgb(182, 32, 228) rgb(90, 90, 95) ;
    }
    25% {
        scrollbar-width: thin;
        scrollbar-color: rgb(50, 160, 211) rgb(90, 90, 95) ;;
    }
    50% {
        scrollbar-width: thin;
        scrollbar-color: rgb(118, 226, 68) rgb(90, 90, 95) ;;
    }
    75% {
        scrollbar-width: thin;
        scrollbar-color: rgb(228, 32, 195) rgb(90, 90, 95) ;;
    }
    100% {
        scrollbar-width: thin;
        scrollbar-color: rgb(182, 32, 228) rgb(90, 90, 95) ;
    }
}