* {
    font-family: Helvetica;
}

p {
    font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
}


.header {
    background-image: url(kepek/pizzabannerLG.jpg);
    height: 100%;
    padding: 200px;
    background-position: 100%;
    width: 50rm;
    margin: auto;
    align-items: center;
    color: white;
}

h1, h2, h3 {
    color: white;
}

.navbar {
    float: right;
    padding: 1px;
    margin-top: -25%;
    margin-right: -25%;
}

.navszoveg {
    float: left;
    padding: 1px;
    margin-top: -25%;
    margin-left: -25%;
}

.szovegek {
    padding: 10px;
}

p {
    color: #8c8c8c;
}

.felsotartalom {
    padding: 5px;
    height: 300px;
    background-color: #222222;
}

.ftbalresz {
    float: left;
    text-align: right;
    margin-left: 15%;
}

.ftjobbresz {
    margin-top: auto;
    text-align: left;
    margin-left: 40%;
    margin-right: 10%;
    letter-spacing: 1px;
}

.menu {
    background-color: black;
    height: 350px;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#menuszoveg {
    margin-right: 15%;
    margin-left: 15%;
}

.buttonmenu {
    align-items: center;
    background-color: #000000;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    padding: 0 17px;
    text-align: center;
    transition: all .4s;
    user-select: none;
    touch-action: manipulation;
    
  }
  
  
  .buttonmenu:hover {
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
  }
  

.specialitasok {
    padding: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 1000px;
    background-color: #222222;
    padding-left: 10%;
    padding-right: 10%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: 0;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 0;
}

.gallery__item--5 {
  
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}

.gallery__item--3 {
  
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
    margin: 0;
}


.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 9;
    margin: 0;
}


.footer {
    background-color: black;
    height: 1100px;
    padding: 5px;
}

.footerbal {
    float: left;
    text-align: right;
    margin-left: 1%;
}

.footerkozep {
    text-align: left;
    clear: both;    
    width: 25%;
    height: 5%;
    margin-left: 40%;
    top: 0;
}

.footerjobb {
    float: right;
    text-align: right;
    margin-right: 1%;
    width: 25%;
    top: 50%;
}

.footeralso {
    align-items: center;
    text-align: center;
    clear: both;
    margin-top: 70%;
    margin-right: 5%;
    margin-left: 5%;
}

.gallery__item--1 span {
    display: flex;
	flex-flow: column wrap;
    padding-right: 3px; 
    padding-top: 3px;
}